@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@700&family=Outfit:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700&family=Outfit:wght@400;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #ECF2FF;
    width: 100vw;
    height: 100vh;
    display: flex;
    
}
.main{
    margin: auto;
    width: 736px;
    height: 512px;
    background: #FFFFFF;
    box-shadow: 0px 30px 60px;
    border-radius: 32px;
    flex-direction: row;
    justify-content: center;
}
.first{
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 32px;
    width: 368px;
    float: left;
    height: 100%;
}
.first h2{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #CAC9FF;
    margin-bottom: 35px;
}
.shi{
    background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);    
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.shi h1{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 72px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 55px;
}
.shi p{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #CAC9FF;
    mix-blend-mode: normal;
    opacity: 0.52;
    margin-left: 73px;
}
.sdd{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 28px;
}
.sd{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #CAC9FF;
    width: 260px;
    margin-top: 14px;
}
.sec{
    width: 368px;
    height: 100%;
    padding: 38px 40px 46px 40px;
    float: left;
}
.sec h1{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #303B59;
}
.secs{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
}
.aa{
    width: 288px;
    height: 56px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FF5555;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;    
}
.aq{
    width: 288px;
    height: 56px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FFB21E;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;    
}
.aw{
    width: 288px;
    height: 56px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #00BB8F;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;  
    margin-top: 16px;    
  
}
.ae{
    width: 288px;
    height: 56px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #1125D6;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;    
    margin-top: 16px;    

}

.aa img{
    float: left;
    margin: 17px 14px 20.5px 20.5px;

}
.aa p{
    float: left;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FF5555;
    margin-top: 17px;


}
.aa h2{
    font-family: 'Hanken Grotesk';
    font-style: normal; 
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #303B59;
    margin-top: 17px;
    display: flex;
    justify-content: space-between;

}
.aa span{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: right;

    /* Dark Navy */

    color: #303B59;

    opacity: 0.5;
    float: left;
    margin-right: 16px;
}

.aq img{
    float: left;
    margin: 17px 14px 20.5px 20.5px;

}
.aq p{
    float: left;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FF5555;
    margin-top: 17px;


}
.aq h2{
    font-family: 'Hanken Grotesk';
    font-style: normal; 
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #303B59;
    margin-top: 17px;
    display: flex;
    justify-content: space-between;

}
.aq span{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #303B59;
    opacity: 0.5;
    float: left;
    margin-right: 16px;
    
}

.aw img{
    float: left;
    margin: 17px 14px 20.5px 20.5px;

}
.aw p{
    float: left;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FF5555;
    margin-top: 17px;


}
.aw h2{
    font-family: 'Hanken Grotesk';
    font-style: normal; 
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #303B59;
    margin-top: 17px;
    display: flex;
    justify-content: space-between;

}
.aw span{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #303B59;
    opacity: 0.5;
    float: left;
    margin-right: 16px;
    
}
.ae img{
    float: left;
    margin: 17px 14px 20.5px 20.5px;

}
.ae p{
    float: left;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FF5555;
    margin-top: 17px;


}
.ae h2{
    font-family: 'Hanken Grotesk';
    font-style: normal; 
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #303B59;
    margin-top: 17px;
    display: flex;
    justify-content: space-between;

}
.ae span{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #303B59;
    opacity: 0.5;
    float: left;
    margin-right: 16px;
    
}
.ar button{
    background: #303B59;
    border-radius: 128px;
    width: 288px;
    height: 56px;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    margin-top: 41px;
    color: #FFFFFF;
}